x-airflow-common:
  &airflow-common
  image: ${AIRFLOW_IMAGE}
  environment:
    &airflow-common-env
    PYTHONPATH: /opt/airflow

    _AIRFLOW_WWW_USER_CREATE: "true"
    _AIRFLOW_WWW_USER_USERNAME: ${AIRFLOW_USER}
    _AIRFLOW_WWW_USER_PASSWORD: ${AIRFLOW_PASSWORD}

    AIRFLOW__CORE__EXECUTOR: CeleryExecutor
    AIRFLOW__CORE__LOAD_EXAMPLES: "False"
    AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "True"

    AIRFLOW__SECRETS__BACKEND: airflow.providers.google.cloud.secrets.secret_manager.CloudSecretManagerBackend
    AIRFLOW__SECRETS__BACKEND_KWARGS: '{"connections_prefix":"airflow-connections","variables_prefix":"airflow-variables","project_id":"${GCP_PROJECT_ID}"}'

    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/${POSTGRES_DB}
    
    AIRFLOW__CELERY__BROKER_URL: redis://redis:6379/0
    AIRFLOW__CELERY__RESULT_BACKEND: db+postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/${POSTGRES_DB}
    AIRFLOW__CELERY__WORKER_CONCURRENCY: "4"
    AIRFLOW__SCHEDULER__MIN_FILE_PROCESS_INTERVAL: "30"
    
    GCS_PROJECT_ID: ${GCS_PROJECT_ID}
    GCS_BUCKET: ${GCS_BUCKET}

  
  depends_on:
      &airflow-common-depends-on
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy


services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: always


  redis:
    image: redis:latest
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    expose:
      - 6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: always


  airflow-init:
      <<: *airflow-common
      profiles: ["init"]
      restart: "no"
      entrypoint: /bin/bash
      command: >
        -lc "
        airflow db migrate &&
        airflow users create
          --username $${_AIRFLOW_WWW_USER_USERNAME}
          --password $${_AIRFLOW_WWW_USER_PASSWORD}
          --firstname Admin --lastname User
          --role Admin --email admin@example.com || true
        "
      depends_on:
        <<: *airflow-common-depends-on

  airflow-scheduler:
    <<: *airflow-common
    command: ["airflow", "scheduler"]
    restart: always
    healthcheck:
      interval: 10s
      timeout: 10s
      retries: 5
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  
  airflow-triggerer:
    <<: *airflow-common
    command: ["airflow", "triggerer"]
    healthcheck:
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

    
  airflow-webserver:
    <<: *airflow-common
    command: ["airflow", "webserver"]
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD","curl", "--fail", "http://localhost:8080/health"]
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

    
  airflow-worker:
    <<: *airflow-common
    command: ["airflow", "celery", "worker"]
    healthcheck:
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  
  flower:
    <<: *airflow-common
    command: ["airflow", "celery", "flower"]
    ports:
      - "5555:5555"
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      postgres:
        condition: service_completed_successfully


volumes:
  postgres-db-volume:
